:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg: #181818;
  --titlebar-bg: #181818;
  --titlebar-text: #FF7A2F;
  --border: #2A2A2A;

  --menu-btn-text: #ccc;
  --menu-btn-hover: #2a2a2a;
  --menu-btn-active: #333;

  --dropdown-bg: #2a2a2a;
  --dropdown-border: #444;
  --dropdown-hover: #3a3a3a;
  --dropdown-text: #ccc;

  --toggle-on: #2ecc71;
  --toggle-off: #e74c3c;

  --window-btn-hover: #333;
  --close-btn-hover: #b50c1a;

  --window-btn-text: white;
}

body.light {
  --bg: #F3E8FF;          
  --titlebar-bg: #E9D9FF;  
  --titlebar-text: #3A2F45; 

  --border: #D3BFF5;

  --menu-btn-text: #3A2F45;
  --menu-btn-hover: #E6D4FA;
  --menu-btn-active: #D9C2F7;

  --dropdown-bg: #F8EEFF;
  --dropdown-border: #D3BFF5;
  --dropdown-hover: #F0E0FF;
  --dropdown-text: #3A2F45;

  --toggle-on: #43D17C;
  --toggle-off: #D85252;

  --window-btn-text: #3A2F45;
  --window-btn-hover: #E6D4FA;
  --close-btn-hover: #c0392b;
}


body {
  background-color: var(--bg);
  color: var(--dropdown-text);
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}

.titlebar {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 8px;
  font-size: 14px;
  -webkit-user-select: none;
  user-select: none;
  justify-content: space-between;
  -webkit-app-region: drag;
  border-bottom: 1px solid var(--border);
}

.left-controls {
  display: flex;
  align-items: center;
  gap: 12px;
}

.titlebar-icon {
  width: 24px;
  height: 24px;
}

.menu-group {
  display: flex;
  align-items: center;
  gap: 0px;
  -webkit-app-region: no-drag;
}

.menu-btn {
  background: transparent;
  border: none;
  font-size: 14px;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 4px;
  color: var(--menu-btn-text); 
}

.menu-btn:hover {
  background: var(--menu-btn-hover);
}

.menu-btn.active {
  background: var(--menu-btn-active);
}

.menu-dropdown {
  position: absolute;
  top: 32px;
  border-radius: 6px;
  padding: 8px 0;
  min-width: 200px;
  z-index: 999;
  -webkit-app-region: no-drag;
  background: var(--dropdown-bg);
  border: 1px solid var(--dropdown-border);
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  justify-content: space-between;
  color: var(--dropdown-text);
}

.menu-item:hover {
  background: var(--dropdown-hover);
}

.toggle-switch {
  width: 36px;
  height: 18px;
  border-radius: 20px;
  position: relative;
  transition: 0.2s ease;
}

.toggle-switch.on {
  background-color: var(--toggle-on);
}

.toggle-switch.off {
  background-color: var(--toggle-off);
}

.toggle-knob {
  width: 14px;
  height: 14px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: 0.2s ease;
}

.toggle-switch.on .toggle-knob {
  left: 20px;
}

.menu-text {
  flex: 1;
}

.titlebar-buttons {
  display: flex;
  margin-right: 8px;
  -webkit-app-region: no-drag;
}

.titlebar-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  font-size: 14px;
  cursor: pointer;
  color: var(--window-btn-text);
}

.titlebar-btn:hover {
  height: 40px;
  background: var(--window-btn-hover);
}

.close-btn:hover {
  background: var(--close-btn-hover);
  color: white;
}
